<p id="notice"><%= notice %></p>

<p>
  <strong>Epom:</strong>
  <%= @banner.epom_id %>
</p>

<p>
  <strong>Placement type:</strong>
  <%= @banner.placement_type %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @banner.campaign_id %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @banner.weight %>
</p>

<p>
  <strong>Image banner link:</strong>
  <%= @banner.image_banner_link %>
</p>

<p>
  <strong>Url:</strong>
  <%= @banner.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @banner.name %>
</p>

<p>
  <strong>Banner type:</strong>
  <%= @banner.banner_type %>
</p>

<p>
  <strong>Ad unit:</strong>
  <%= @banner.ad_unit_id %>
</p>

<p>
  <strong>Ad unit width:</strong>
  <%= @banner.ad_unit_width %>
</p>

<p>
  <strong>Ad unit height:</strong>
  <%= @banner.ad_unit_height %>
</p>

<%= link_to 'Edit', edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>
