<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @analytic.date %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @analytic.hour %>
</p>

<p>
  <strong>Advertiser:</strong>
  <%= @analytic.advertiser %>
</p>

<p>
  <strong>Advertiser:</strong>
  <%= @analytic.advertiser_id %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @analytic.campaign %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @analytic.campaign_id %>
</p>

<p>
  <strong>Banner:</strong>
  <%= @analytic.banner %>
</p>

<p>
  <strong>Banner:</strong>
  <%= @analytic.banner_id %>
</p>

<p>
  <strong>Site:</strong>
  <%= @analytic.site %>
</p>

<p>
  <strong>Site:</strong>
  <%= @analytic.site_id %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @analytic.zone %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @analytic.zone_id %>
</p>

<p>
  <strong>Placement:</strong>
  <%= @analytic.placement %>
</p>

<p>
  <strong>Placement:</strong>
  <%= @analytic.placement_id %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @analytic.channel %>
</p>

<p>
  <strong>Country:</strong>
  <%= @analytic.country %>
</p>

<p>
  <strong>Impressions:</strong>
  <%= @analytic.impressions %>
</p>

<p>
  <strong>Clicks:</strong>
  <%= @analytic.clicks %>
</p>

<p>
  <strong>Ctr:</strong>
  <%= @analytic.ctr %>
</p>

<p>
  <strong>Conversions:</strong>
  <%= @analytic.conversions %>
</p>

<p>
  <strong>I2c:</strong>
  <%= @analytic.i2c %>
</p>

<p>
  <strong>Ccr:</strong>
  <%= @analytic.ccr %>
</p>

<p>
  <strong>Net:</strong>
  <%= @analytic.net %>
</p>

<p>
  <strong>Gross:</strong>
  <%= @analytic.gross %>
</p>

<p>
  <strong>Profit:</strong>
  <%= @analytic.profit %>
</p>

<p>
  <strong>Ecpm net:</strong>
  <%= @analytic.ecpm_net %>
</p>

<p>
  <strong>Ecpm gross:</strong>
  <%= @analytic.ecpm_gross %>
</p>

<p>
  <strong>Ecpm profit:</strong>
  <%= @analytic.ecpm_profit %>
</p>

<p>
  <strong>Status:</strong>
  <%= @analytic.status %>
</p>

<%= link_to 'Edit', edit_analytic_path(@analytic) %> |
<%= link_to 'Back', analytics_path %>
